<activity>
  <sidenav-common [title]="title" [searchText]="'Select Destination'" [isBack]="true">
  </sidenav-common>

  <layout [isLoading]="loading">


    <ng-container *ngIf="aadharInfo?.url != defaultUrl && aadharInfo?.url != null">

      <br />
      <h2 style="text-align: center">Aadhar{{ isUploading ? " Preview" : "" }}</h2>

      <div style="width: calc(100% - 20px); margin-top: 20px; height:auto; padding : 10px; text-align: center;">
        <img style="width: 100%"
          attr.src= "{{ aadharInfo?.url }}" />
          <br/>
          <br/>
          <br/>
          <button mat-flat-button *ngIf="isUploading" (click)="uploadAadhar()" color="accent">
            Upload this Image
          </button>
      </div>
    
    </ng-container>

    <ng-container *ngIf="aadharInfo?.url == defaultUrl || aadharInfo?.url == null">
        <br/><br/>
    </ng-container>

      <div style="text-align:center;" *ngIf="isUploading == false">
        <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="importFile($event)" style="display:none"
            accept="image/*">
        <button type="button" (click)="fileUpload.click()" mat-flat-button class="mat-flat-button" color="accent">
          {{ aadharInfo?.url == defaultUrl || aadharInfo?.url == null ?  "Upload Aadhar"  : "Re Upload" }}</button>
      </div>


  </layout>
</activity>
