#myMap {
  width: 100%;
  height: 100%;
}

.remove-margin {
  margin-top: -10px;
  padding-bottom: 80px !important;
}

.search-actions {
  position: absolute;
  bottom: 50px;
  height: 200px;
  width: 100%;
}
