.parcel-bg {
  background-image: url('https://img.icons8.com/cotton/2x/big-parcel.png');
  background-size: cover;
}

.scooter-bg {
  background-image: url('https://www.iconpacks.net/icons/2/free-scooter-icon-1765-thumb.png');
  background-size: cover;
}
